DROP PROCEDURE IF EXISTS PR_GetDeclusterResult
GO

DROP PROCEDURE IF EXISTS PR_GetDeclusterResult
GO

--EXEC PR_GetDeclusterResult 4779, 733313
CREATE PROCEDURE [dbo].[PR_GetDeclusterResult]
(
    @PeriodID		    INT,
    @DetAssignmentID    INT
) AS BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATE, @EndDate DATE;

    DECLARE @Variety TVP_Variety;
    DECLARE @Markers TABLE(MarkerID INT, MarkerName NVARCHAR(100), InIMS BIT);
    DECLARE @Determinations TABLE(DetAssignmentID INT);
    
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @Columns NVARCHAR(MAX);    
    
    SELECT
	   @StartDate = StartDate,
	   @EndDate = EndDate
    FROM [Period] 
    WHERE PeriodID = @PeriodID;    	      

    INSERT @Variety(VarietyNr, VarietyName, DisplayOrder)
    SELECT DISTINCT
	   V2.VarietyNr, 
	   V2.Shortname,
	   DisplayOrder =  CASE 
					   WHEN V2.VarietyNr = V1.Male THEN 3
					   WHEN V2.VarietyNr = V1.FeMale THEN 2
					   ELSE 1
				    END
    FROM
    (
	   SELECT
		  V.VarietyNr,
		  V.Female,
		  V.Male
	   FROM TestDetAssignment TDA
	   JOIN DeterminationAssignment DA ON DA.DetAssignmentID = TDA.DetAssignmentID
	   JOIN Variety V ON V.VarietyNr = DA.VarietyNr
	   WHERE DA.StatusCode = 300 
	   AND CAST(DA.PlannedDate AS DATE) BETWEEN @StartDate AND @EndDate
	   AND DA.DetAssignmentID = @DetAssignmentID
    ) V1
    JOIN Variety V2 ON V2.VarietyNr IN (V1.VarietyNr, V1.Female, V1.Male);

    INSERT @Determinations(DetAssignmentID)
    SELECT
	   MIN(DA.DetAssignmentID)
    FROM DeterminationAssignment DA
    JOIN @Variety V ON V.VarietyNr = DA.VarietyNr
    WHERE DA.StatusCode = 300 
    AND CAST(DA.PlannedDate AS DATE) BETWEEN @StartDate AND @EndDate
    GROUP BY DA.VarietyNr;
    
    --Prepare markers
    INSERT @Markers(MarkerID, MarkerName, InIMS)
    SELECT 
	   M.MarkerID,
	   M.MarkerName,
	   MTT.InIMS
    FROM MarkerToBeTested MTT
    JOIN @Determinations D ON D.DetAssignmentID = MTT.DetAssignmentID
    JOIN Marker M ON M.MarkerID = MTT.MarkerID;

    SELECT 
	   @Columns  = COALESCE(@Columns + ',', '') + QUOTENAME(MarkerID)
    FROM @Markers C;

    SET @Columns = ISNULL(@Columns, '');

    SET @SQL = N'SELECT 
	   V.VarietyNr, 
	   V.VarietyName,
	   VarietyType = CASE 
		  WHEN V.DisplayOrder = 1 THEN ''Variety''
		  WHEN V.DisplayOrder = 2 THEN ''Female''
		  WHEN V.DisplayOrder = 3 THEN ''Male''
		  ELSE ''''
	   END ' +
	   CASE WHEN @Columns = '' THEN '' ELSE ', ' + @Columns END + 
    N'FROM @Variety V ' + 
    CASE WHEN @Columns = '' THEN '' ELSE
	   N'LEFT JOIN
	   (
		  SELECT * FROM 
		  (
			 SELECT 
				DA.VarietyNr,
				MTT.MarkerID,
				[Value] = MVP.AlleleScore
			 FROM MarkerToBeTested MTT
			 JOIN DeterminationAssignment DA ON DA.DetAssignmentID = MTT.DetAssignmentID
			 JOIN MarkerValuePerVariety MVP ON MVP.VarietyNr = DA.VarietyNr AND MVP.MarkerID = MTT.MarkerID
		  ) V
		  PIVOT
		  (
			 MAX([Value])
			 FOR MarkerID IN(' + @Columns + N')
		  ) P
	   ) M ON M.VarietyNr = V.VarietyNr '  
    END + 
    N'ORDER BY V.DisplayOrder';

    EXEC sp_executesql @SQL, N'@Variety TVP_Variety READONLY', @Variety;

    SELECT 
	   ColumnID, 
	   ColumnLabel, 
	   InIMS 
    FROM
    (
	   VALUES
	   ('VarietyNr', 'Variety Nr', 0),
	   ('VarietyName', 'Variety Name', 0),
	   ('VarietyType', 'Variety Type', 0)
    ) V(ColumnID, ColumnLabel, InIMS)
    UNION ALL
    SELECT 
	   ColumnID = CAST(MarkerID AS VARCHAR(10)), 
	   ColumnLabel = MarkerName,
	   InIMS
    FROM @Markers;
END
GO