DROP TABLE IF EXISTS [dbo].[MarkerTemp]
GO

CREATE TABLE [dbo].[MarkerTemp](
	[MarkerID] [int] NOT NULL,
	[MarkerName] [nvarchar](50) NULL,
	[MarkerFullName] [nvarchar](100) NULL,
	)
GO

INSERT [dbo].[MarkerTemp] ([MarkerID], [MarkerName], [MarkerFullName]) VALUES (2, N'M0000002', N'SLM0000002')
GO
INSERT [dbo].[MarkerTemp] ([MarkerID], [MarkerName], [MarkerFullName]) VALUES (6, N'M0000006', N'SLM0000006')
GO
INSERT [dbo].[MarkerTemp] ([MarkerID], [MarkerName], [MarkerFullName]) VALUES (7, N'M0000007', N'SLM0000007')
GO


ALTER TABLE Marker
ADD MarkerFullName NVARCHAR(50)

GO


UPDATE T1
SET T1.MarkerFullName = T2.MarkerFullName
FROM Marker T1
JOIN MarkerTemp T2 ON T1.MarkerID = T2.MarkerID

GO

DROP TABLE IF EXISTS [dbo].[MarkerTemp]
GO

